<section class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>
      Esta Aplicacion Es Creada Para Cualquier Persona Que Necesite El Uso De Notas Con El Fin De Recordatorio O Cualquier Motivo Vario.
    </p>
  </div>
</section>