
<div class="jumbotron mt-4">
  <h1 class="display-4">App de Notas Usando Nodejs y Mongodb</h1>
  <p class="lead">App Para Crear Notas Con Nodejs, Express, Mongodb y Javascript</p>
  <hr class="my-4">
  <p>Un Ejemplo de App Para Crear, Eliminar y Modificar Notas
  </p>
  <a href="http://google.com" class="btn btn-primary" >GOOGLE</a>
</div>